<?xml version="1.0"?>
<model>
  <name>x500-3D Gimbal</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Khaled Gabr</name>
    <email>khaledgabr77@gmail.com</email>
  </author>
  <description>Model of the NXP HoverGames Drone development kit (KIT-HGDRONEK66) with 3D Gimbal.</description>
</model>
