<?xml version="1.0"?>

<model>
  <name>taif_terrain</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Mohamed Abdelkader</name>
    <email>mohamedashraf123@gmail.com</email>
  </author>

  <description>
    Terrain map for part of taif city with center at 21.2715, 40.3456
  </description>
</model>
