<?xml version="1.0"?>
<model>
  <name>stereo_camera</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Abdulrahman S. Al-Batati</name>
    <email>asmalbatati@hotmail.com</email>
  </author>

  <description>
    A stereo camera model with two side-by-side camera sensors
  </description>
</model> 