<?xml version="1.0"?>
<model>
  <name>x500_stereo_cam_3d_lidar</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Abdulrahman S. Al-Batati</name>
    <email>asmalbatati@hotmail.com</email>
  </author>

  <description>
    X500 drone with stereo camera and 3D LiDAR sensors
  </description>
</model> 