<?xml version="1.0"?>
<model>
  <name>x500_twin_stereo_twin_velodyne</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Abdulrahman S. Al-Batati</name>
    <email>asmalbatati@hotmail.com</email>
  </author>

  <description>
    X500 drone with twin stereo cameras and twin velodyne 16 lidars
  </description>
</model> 